<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand d-flex align-items-center" href="/Product/Index" style="font-family: 'PT Mono'">
            <img class="mr-2" src="~/Content/logo.png" height="50px" width="50px" alt="Logo" />
            TheWardrobe
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto main-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-home"></i>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fas fa-tshirt"></i>
                        <span>Categories</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Tshirts</a>
                        <a class="dropdown-item" href="#">Pants</a>
                        <a class="dropdown-item" href="#">Accessories</a>
                    </div>
                </li>
                <form class="form-inline">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 600px;">
                        <div class="input-group-append">
                            <button class="btn bg-white" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fas fa-user"></i>
                        <span>My Account</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Manage account</a>
                        <a class="dropdown-item" href="#">Manage categories</a>
                        <a class="dropdown-item" href="/Product/ManageProducts">Manage products</a>
                        <a class="dropdown-item" href="#">Manage user roles</a>
                        <div class="dropdown-divider"></div>
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" href="/account/logoff">Log off</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="/account/login">Log in</a>
                            <a class="dropdown-item" href="/account/register">Register</a>
                        }

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <button class="nav-item btn bg-transparent dropdown-toggle d-flex align-items-center" type="button" id="cartDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a class="nav-link d-flex align-items-center" href="#">
                            <i class="fa fa-shopping-cart my-0 mr-2"
                               style="
                            font-size: 30px;
                            position: relative;
                            top: 3px;
                          ">
                                <span class="badge badge-info">11</span>
                            </i>
                            <div class="d-flex flex-column">
                                <small class="text-secondary text-left">My Cart</small>
                                <span>$260.30</span>
                            </div>
                        </a>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="cartDropdownButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning" })
        @if (ViewBag.message != null)
        {
            <div class="@ViewBag.messageClasses alert-dismissible fade show mb-5" role="alert">
                @ViewBag.message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TheWardrobe</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("input[type='number']").inputSpinner();
        });
    </script>
</body>
</html>