@model TheWardrobe.Models.Product

@{
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
}

<div class="card">
    <div class="card-header brand-style font-weight-bold bg-dark text-center mb-4">
        <img src="~/Content/logo.png" alt="Alternate Text" style="width: 80px; height: auto;" class="my-3" />
        <h2>
            @switch (actionName)
            {
                case "Edit":
                    @:Edit Product
                    break;

                case "New":
                    @:New Product
                    break;

                default:
                    break;
            }
        </h2>
    </div>
    <form action="
          @switch (actionName)
            {
                case "New":
                    @:/Product/New
                    break;

                case "Edit":
                    @:/Product/Edit?productId=@Model.ProductId
                    break;

                default:
                    break;
            }" method="post" id="productForm" class="w-75 mx-auto card-body">
        @*@Html.HttpMethodOverride(HttpVerbs.Put)*@

        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>

        <div class="form-group">
            <label for="ProductName">Product Name</label>
            <input class="form-control" type="text" name="ProductName" id="ProductName" value="@Model.ProductName" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="Category">Category</label>
                <select class="selectpicker"
                        id="Category"
                        name="CategoryId"
                        data-live-search="true"
                        data-size="5"
                        data-width="100%"
                        data-style="bg-transparent border-input form-control">
                    @foreach (var cat in ViewBag.Categories)
                    {
                        <option value="@cat.CategoryId" @(Model.CategoryId == cat.CategoryId ? "selected" : "")>@cat.CategoryName</option>
                    }
                </select>
            </div>

            <div class="form-group col-6">
                <label for="Price">Price</label>
                <input class="price-spinner" value="@Model.Price" data-decimals="2" min="1" max="2000"></input>
            </div>

            <div class="form-group col-6">
                <label for="SizeArray">Sizes</label>
                <select class="selectpicker"
                        id="SizeArray"
                        name="SizeArray"
                        multiple
                        data-live-search="true"
                        data-selected-text-format="count > 4"
                        data-size="5"
                        data-width="100%"
                        data-style="bg-transparent border-input form-control">
                    @{
                        List<string> allSizes = new List<string>() { "S", "M", "L", "XL" };
                        if (Model.ProductName != null)
                        {
                            if (Model.Category.CategoryName == "Boots")
                            {
                                allSizes = new List<string>() { "40", "41", "42", "43", "44" };
                            }
                            var productSizes = Model.Size.Split(' ');
                            foreach (var size in allSizes)
                            {
                                <option @(productSizes.Contains(size) ? "selected" : "")>@size</option>
                            }
                        }
                        else
                        {
                            foreach (var size in allSizes)
                            {
                                <option>@size</option>
                            }
                        }
                    }
                </select>
                <input type="text" name="Size" id="Size" hidden />
            </div>

            <div class="form-group col-6">
                <label for="Quantity">Quantity</label>
                <input id="Quantity" name="Quantity" type="number" value="@Model.Quantity" min="1" max="100" step="1" />
            </div>
        </div>

        <div class="form-group">
            <label for="ImageUrl">Image URL</label>
            <input class="form-control" type="text" name="ImageUrl" id="ImageUrl" value="@Model.ImageUrl" />
        </div>

        <button class="btn btn-outline-primary mr-3" type="submit">
            <i class="fas fa-check mr-2"></i>
            @switch (actionName)
            {
                case "Edit":
                    @:Edit Product
                    break;

                case "New":
                    @:Add New Product
                    break;

                default:
                    break;
            }
        </button>
        <a class="btn btn-outline-dark" href="/Product/ManageProducts"><i class="fas fa-times mr-2"></i>Cancel</a>
    </form>
</div>